* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    background-position: center;
    background-size: cover;
    position: relative;
  
  }
  
  
  .container{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px 60px 20px;
    transform: translate(-50%,-50%);
    background-color: white;
    text-align: center;
    border-radius: 20px;
  
  }
  
  .title{
    font-size: 30px;
    color: #3c00a0;
    margin-bottom: 60px;
    position: relative;
    font-weight: 700;
  }
  
  .input-field {
    background-color: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
  }
  .input-field img{
    margin: 0px 20px;

  }


  input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
    font-size: 20px;
  }
  
  .lost-password{
    text-align: left;
    font-size: 13px;
  }
  
  .lost-password a {
    text-decoration: none;
    color: #3c00a0;
  }
  
  .submit-container{
    display: flex;
    margin: 60px auto;
    gap: 30px;
  }
  
  .submit{
    display: flex;
    background: #3c00a0;
    outline: none;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
  }
  .gray {
    background: #eaeaea;
    color: #555;
  }

  /* FOR THE REQUEST */

  .main-request {
    padding: 32px;
  }
  
  .main-request h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
  }

  .main-request h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 16px;

  }

  .request-container {
    position: relative;
    background-color: white;
    padding: 16px ;
    border-radius: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 16px;
    width: 50%;
  }

  

  .requests:hover{
    opacity: 0.5;
  }

  .request-checkbox{
    width: 20px;
    height: 20px;
    border-radius: 999px;
    margin-right: 16px;
    transition: 0.4s;
    background-color: #555;
  }

  .request-text {
    font-size: 20px;

  }

  .requests .delete-request{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: #AF1E2D;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    
  }

  .new-request{
    position: fixed;
    bottom: 32px;
    right: 32px;
    padding: 16px;
    color: white;
    transform: translateX(-50%);
    border-radius: 19px;
    background-color: #555;
    align-items: center;
	  justify-content: center;
    border: 0;
    outline: 0;
    font-size: 15px;
    font-weight: 900;
  }

  .new-request:hover {
    opacity: 0.4;
  }

  /*.closePopup {
    position: absolute;
    top: 20px;
    right: 16px;
    width: 15px;
    height: 15px;
    font-size: 16px;
    font-weight: 900;
    color: black;
    cursor: pointer;
    justify-content: center;
    text-align: center;
 
  }

  .requirement-popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0px 4px 32px grey;
  }



  .popup-content h3{
  color: black;
	margin-bottom: 16px;
	font-weight: 400;
	text-transform: uppercase;
  text-align: center;
  font-weight: 700;
    
  }

  .add-new-requirement {
    appearance: none;
    outline: none;
    border: none;
    background-color: #FFF;
    padding: 16px;
    border-radius: 16px;
    width: 100%;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
    font-size: 20px;
  }
  .create-button{
    position: relative;
    left: 20%;
    padding: 12px 25px;
    border-radius: 999px;
    background-color: #555;
    color: white;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    cursor: pointer;

  }*/
  
  
  
  
  
  